body{
    margin: 0;
    padding: 0;
    font-family: Helvetica Neue,helvetica,arial,sans-serif;
}
header{
    display: flex;
    background-color: #ffffff;
    max-width: 100%;     /* Ocupa toda a largura da tela */
    top: 0;          /* Fixa ao topo */
    z-index: 1000;   /* Garante que fique acima do conteúdo */
    max-height: 8%;
}
.nav_bar {
    display: flex;
    max-width: 100%;
    list-style-type: none;
    justify-content: flex-start; /* Alinha os itens à esquerda */
    align-items: center;
}
.nav_bar li {
    display: flex;
    margin: 0 10px;
    max-width: 100%;
}
.nav_bar li a{
    color: rgb(9, 141, 218);
    text-decoration: none;
    font-size: 1.2rem;
    padding: 1rem 0.5rem; /* Espaçamento interno do texto */
    transition: background-color 0.3s, color 0.3s;
    max-width: 100%;
}
.nav_bar li a:hover{
    transition: all 0.3s ease 0s;
    color: #014db1;
}
.logo{
    max-width: 100%; /* Define o tamanho da logo */
    margin-right: 10px; /* Espaço entre a logo e os itens do menu */
    margin-left: -30px;
}

.boas_vindas{
    max-width: 100%;
    display: flex;
    padding-top: 1rem;
    background-color: #ffffff;
}
.bv{
    display: flex;
    margin: 0 auto;
}
.bv h1{
    padding-left: 1rem;
    padding-right: 1rem;
    display: flex;
    background-color: #02509B;
    border-radius: 25px;
    text-align: center;
    max-height: 100%;
    max-width: 100%;
    line-height: 90px;
    color: #ffffff;
    font-size: 40px;
    font-family: "Merriweather", serif;
    font-weight: normal;
}
.bv_logo{
    max-width: 100%;
}
.title{
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 100%;
    color: #676770;
    font-size: 30px;
    text-align: center;
    font-family: "Open Sans", sans-serif;
    font-weight: 100;
    letter-spacing: 5px;
}
.containers{
    display: flex;
    justify-content: center;
    text-align: center;
    line-height: 1px;
    max-width: 100%;
}
.infos_um{
    max-width: 200px;
    max-height: 100px;
    display: flex;
    border: 1px solid #798086;
    padding: 15px;
    padding-bottom: 20px;
    font-family: "Open Sans", sans-serif;
    font-size: 20px;
    color: #676770;
    line-height: 30px;
    letter-spacing: 2px;
    border-radius: 30px;
    margin-right: 40px;
}
.infos_dois{
    max-width: 200px;
    max-height: 100px;
    display: flex;
    border: 1px solid #798086;
    padding: 15px;
    padding-bottom: 20px;
    font-family: "Open Sans", sans-serif;
    font-size: 20px;
    color: #676770;
    line-height: 30px;
    letter-spacing: 2px;
    border-radius: 30px;
    margin-right: 40px;
}
.infos_tres{
    max-width: 200px;
    max-height: 100px;
    display: flex;
    border: 1px solid #798086;
    padding: 15px;
    padding-bottom: 20px;
    font-family: "Open Sans", sans-serif;
    font-size: 20px;
    color: #676770;
    line-height: 30px;
    letter-spacing: 2px;
    border-radius: 30px;
    margin-right: 40px;

}
.sec_mapa{
    max-width: 100%;
    margin-top: 50px;
    padding-top: 50px;
    background-color: #192024;
}
.sec_mapa h2{
    justify-content: center;
    text-align: center;
    padding-top: 10px;
    font-family: "Open Sans", sans-serif;
    color: #FFFFF8;
    font-weight: 100;
    font-size: 35px;
    letter-spacing: 5px;
}
.sec_mapa h3{
    justify-content: center;
    text-align: center;
    padding-top: 10px;
    font-family: "Open Sans", sans-serif;
    color: #FFFFF8;
    font-weight: 100;
    font-size: 18px;
    letter-spacing: 5px;
}
.mapa{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 60px;
}
.mapa img{
    max-width: 100%;
}
