body{
    margin: 0;
    padding: 0;
    font-family: Helvetica Neue,helvetica,arial,sans-serif;
}
header{
    display: flex;
    background-color: #ffffff;
    max-width: 90%;
    top: 0;
    z-index: 1000;
    max-height: 8%;
}
.nav_bar{
    display: flex;
    list-style-type: none;
    justify-content: flex-start;
    align-items: center;
}
.div_nav{
    display: flex;
    list-style-type: none;
    justify-content: flex-start;
    align-items: center;
    padding-left: 150px;
}
.itens_nav{
    display: flex;
    margin: 0 10px;
    max-width: 100%;
    text-decoration: none;
    font-size: 1.2rem;
    transition: background-color 0.3s, color 0.3s;
    transition: all 0.3s ease 0s;
    color: #014db1;
}
.nav_bar li a:hover{
    transition: all 0.3s ease 0s;
    color: rgb(1, 40, 78);
}
.logo{
    max-width: 30%;
    height: auto;
    display: flex;
    margin-left: -35px;
}
.logo img{
    max-width: 100%;
    height: auto;
}
.boas_vindas{
    max-width: 100%;
    display: flex;
    padding-top: 1rem;
    background-color: #ffffff;
}
.bv{
    display: flex;
    margin: 0 auto;
}
.bv h1{
    padding-left: 1rem;
    padding-right: 1rem;
    display: flex;
    background-color: #02509B;
    border-radius: 25px;
    text-align: center;
    max-height: 100%;
    max-width: 100%;
    line-height: 90px;
    color: #ffffff;
    font-size: 40px;
    font-family: "Merriweather", serif;
    font-weight: normal;
}
.bv_logo{
    max-width: 100%;
}
.title h1{
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 100%;
    color: #676770;
    font-size: 30px;
    text-align: center;
    font-family: "Open Sans", sans-serif;
    font-weight: 100;
    letter-spacing: 5px;
}
.containers{
    display: flex;
    justify-content: center;
    text-align: center;
    line-height: 1px;
    max-width: 100%;
}
.infos_um{
    display: flex;
    max-width: 100%;
    border: 1px solid #798086;
    font-family: "Open Sans", sans-serif;
    font-size: 1.5rem;
    color: #676770;
    padding: 1rem;
    line-height: 30px;
    letter-spacing: 2px;
    border-radius: 30px;
    margin-right: 40px;
}
.infos_dois{
    display: flex;
    max-width: 100%;
    border: 1px solid #798086;
    font-family: "Open Sans", sans-serif;
    font-size: 1.5rem;
    color: #676770;
    padding: 1rem;
    line-height: 30px;
    letter-spacing: 2px;
    border-radius: 30px;
    margin-right: 40px;
}
.infos_tres{
    display: flex;
    max-width: 100%;
    border: 1px solid #798086;
    font-family: "Open Sans", sans-serif;
    font-size: 1.5rem;
    color: #676770;
    padding: 1rem;
    line-height: 30px;
    letter-spacing: 2px;
    border-radius: 30px;
    margin-right: 40px;

}
.sec_mapa{
    max-width: 100%;
    margin-top: 50px;
    padding-top: 50px;
    background-color: #192024;
}
.sec_mapa h2{
    justify-content: center;
    text-align: center;
    padding-top: 10px;
    font-family: "Open Sans", sans-serif;
    color: #FFFFF8;
    font-weight: 100;
    font-size: 35px;
    letter-spacing: 5px;
}
.sec_mapa h3{
    justify-content: center;
    text-align: center;
    padding-top: 10px;
    font-family: "Open Sans", sans-serif;
    color: #FFFFF8;
    font-weight: 100;
    font-size: 18px;
    letter-spacing: 5px;
}
.mapa{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 60px;
}
.mapa img{
    max-width: 100%;
}
.legenda_mapa{
    display: flex;
    justify-content: flex-start;
    max-width: 100%;
    font-family: "Open Sans", sans-serif;
    font-size: 0.9rem;
    color: #565674;
}
.legenda_mapa ul{
    list-style-type: none;
}
.historia{
    display: flex;
    justify-content: center;
    max-width: 100%;
}
.historia h1{
    max-width: 100%;
    color: #565674;
    font-size: 30px;
    text-align: center;
    font-family: "Open Sans", sans-serif;
    font-weight: 100;
    letter-spacing: 3px;
}
.historia p{
    max-width: 100%;
    color: #676770;
    font-size: 15px;
    text-align: center;
    font-family: "Open Sans", sans-serif;
    font-weight: 100;
    letter-spacing: 1px;
}
.moodle{
    max-width: 100%;
}
.moodle h1{
    font-size: 30px;
    text-align: center;
    color: #676770;
    font-family: "Open Sans", sans-serif;
    font-weight: 100;
    letter-spacing: 1px;
}
.moodle p{
    max-width: 100%;
    color: #565674;
    font-size: 15px;
    text-align: center;
    font-family: "Open Sans", sans-serif;
    font-weight: 100;
    letter-spacing: 1px;
}
.moodle_imagens{
    display: flex;
    justify-content: center;
    align-items: center;
}
.moodle_imagens img{
    display: flex;
    max-width: 100%;
}
.sobre{
    max-width: 100%;
}
.img_sobre{
    display: flex;
    justify-content: center;
    align-items: center;
}
.img_sobre img{
    display: flex;
    max-width: 100%;
}
.sobre h1{
    font-size: 30px;
    text-align: center;
    color: #676770;
    font-family: "Open Sans", sans-serif;
    font-weight: 100;
    letter-spacing: 1px;
}
.sobre p{
    max-width: 100%;
    color: #565674;
    font-size: 20px;
    text-align: center;
    font-family: "Open Sans", sans-serif;
    font-weight: 100;
    letter-spacing: 1px;
}
.localizacao{
    max-width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: #192024;
}
.localizacao h2{
    font-size: 30px;
    text-align: center;
    color: #FFFFF8;;
    font-family: "Open Sans", sans-serif;
    font-weight: 100;
    font-size: 35px;
    letter-spacing: 3px;
}
.localizacao p{
    max-width: 100%;
    color: #FFFFF8;
    font-size: 20px;
    text-align: center;
    font-family: "Open Sans", sans-serif;
    font-weight: 100;
    letter-spacing: 1px;
}
.google_maps{
    max-width: 100%;
}